/* Google Font  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap");

/* Custom CSS  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  background-color: black;
}
::selection {
  color: black;
  background-color: #bea060;
}
header {
  width: 100%;
  height: 160vh;
  display: flex;
  padding: 0 40px;
}
.header-left-side {
  
  color: white;
}
.header-left-side h1 {
  color: #bea060;
  line-height: 1.2em;
  font-size: 68px;
  padding-top: 20px;
  margin-bottom: 20px;
  font-weight: 400 !important;
}
.header-left-side h2 {
  color: #bea060;
  font-family: "Inter", sans-serif;
  font-size: 26px;
  line-height: 1.2em;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 10px;
}
.header-left-side p {
  margin-top: 5%;
  margin-bottom: 10%;
  font-family: "Inter", sans-serif;
  letter-spacing: 2px;
  font-size: 16px;
  color: #c1bfbf;
  line-height: 2;
}
button {
  padding: 20px 10px;
  border: 2px solid #bea060;
  background: transparent;
  width: 47%;
  color: white;
  margin-right: 15px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

a {
    padding: 20px 10px;
    border: 2px solid #bea060;
    background: transparent;
    width: 100%;
    color: white;
    margin-right: 15px;
    margin-bottom: px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
  }

  .links {
    display: grid;
    gap: 2rem;
    /* width: 100%; */
    /* flex-wrap: wrap; */
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

button:hover , a:hover {
  background-color: #bea060;
  transition: 0.7s;
}
.btn {
  width: 97%;
  background-color: #bea060;
}
.header-left-side h3 {
  color: #c1bfbf;
  padding-top: 80px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}
.header-right-side img {
  width: 100%;
  height: 300px;
  /* margin-top: 15%; */
}
@media (min-width: 450px) {
    header {
        padding: 0 2rem;
    }
    header-right-side img {
        height: 400px;
      }
}

@media (min-width: 785px) {
    header {
        padding: 0 6rem;
    }
    header-right-side img {
        height: 100%;
      }
}
@media (min-width: 1024px) {
    header {
        padding: 0 15rem;
    }
}